{% extends 'base.html' %} {% load  static %}
{% block breadcrumb %}
<li>Staff List</li>
{% endblock %}
{% block content %}
<!--content goes below-->
<main class="background-image" style="background-image: url('{% static 'img/image2.jpeg' %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%; margin-top: 58px
    height: 100vh;">
  <div class="container pt-4">
    <div class="row search_list">
      <div class="col input-group">
          <form class="d-none d-md-flex input-group w-auto" action="{% url 'SearchUsers' %}">
            <input autocomplete="off" type="search" class="form-control rounded"
              placeholder='Search Staff' name="q" style="min-width: 225px" />
            <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
          </form>       
      </div>
      <div class="col">
        <a class="btn btn-dark" href="{% url 'createuser' %}">Create Staff</a>
      </div>
    </div>
    <div class="row list_page_view">
      <table class="table table-striped" data-tablesaw-mode="columntoggle" id="active_users">
        <thead>
          <tr>
            <th width="20%" scope="col">Staff Name</th>
            <th width="20%" scope="col">Role</th>
            <th width="20%" scope="col">Status</th>
            {% if user.is_admin or user.user_roles == "OfficeAdmin" %}
              <th width="20%" scope="col">Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for userobject in list_of_users %}
          <tr>
            <td><a href="{% url 'userprofile' userobject.id %}" style="color:#337ab7">
            {{ userobject.first_name|capfirst }}</a></td>
            <td>{{ userobject.user_roles }}</td>
            {% if userobject.is_active %}
            <td><a href="{% url 'deleteuser' userobject.id %}"><i class="fa fa-circle green"></i></a></td>
            {% else %}
            <td><a href="{% url 'deleteuser' userobject.id %}"><i class="fa fa-circle red"></i></a></td>
            {% endif %}
            {% if user.is_admin or user.user_roles == "OfficeAdmin" %}
              <td>
                <a href="{% url 'edituser' userobject.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                <a href="{% url 'edituser' userobject.id %}"><i class="fa fa-pencil-square-o edit-icon"></i></a>
                {% if userobject.is_active %}
                  <a href="{% url 'deleteuser' userobject.id %}"><i class="fa fa-trash-o trash-icon"></i></a>
                {% endif %}
              </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
<!--content ends above-->
{% endblock content %}


<div class="container">
  <div class="row search_list">
    <div class="col">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search branch" aria-label="Username" aria-describedby="sizing-addon2"> <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="col">
      <button type="button" class="pull-right branch">Create Branch</button>
    </div>
  </div>
  <div class="row list_page_view">
    <table class="table table-striped" data-tablesaw-mode="columntoggle" id="active_users">
      <thead>
        <tr>
          <th width="20%" scope="col">Staff Name</th>
          <th width="20%" scope="col">Role</th>
          <th width="20%" scope="col">Branch Name</th>
          <th width="20%" scope="col">Status</th>
          {% if user.is_admin or user.user_roles == "OfficeAdmin" %}
            <th width="20%" scope="col">Edit/Delete</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for userobject in list_of_users %}
        <tr>
          <td><a href="{% url 'userprofile' userobject.id %}" style="color:#337ab7">
          {{ userobject.first_name|capfirst }}</a></td>
          <td>{{ userobject.user_roles }}</td>
          <td><a href="{% url 'branchprofile' userobject.branch.id %}" style="color:#337ab7">{{ userobject.branch.name|capfirst }}</a></td>
          {% if userobject.is_active %}
          <td><a href="{% url 'deleteuser' userobject.id %}"><i class="fa fa-circle green pad-lt"></i></a></td>
          {% else %}
          <td><a href="{% url 'deleteuser' userobject.id %}"><i class="fa fa-circle red pad-lt"></i></a></td>
          {% endif %}
          {% if user.is_admin or user.user_roles == "OfficeAdmin" %}
            <td><a href="{% url 'edituser' userobject.id %}"><i class="fa fa-pencil-square-o edit-icon"></i></a>{% if userobject.is_active %}<a href="{% url 'deleteuser' userobject.id %}"><i class="fa fa-trash-o trash-icon"></i></a>{% endif %}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>