{% extends 'base.html' %}
{% load i18n %}
{% block content %} {% load static %}

<main class="background-image" style="background-image: url('{% static 'img/image4.jpg' %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%; margin-top: 58px
    height: 100vh;">
<!--Main layout--> 
    <div class="container pt-4">
      <!-- Section: Main chart -->
      <section class="mb-4">
        <div class="card">
          <div class="card-header py-3"> 
            <div class="row float-right">
              <div class="col-md-12 mb-4 ">
                {% if user.user_roles != "Doctor" %}
            <a class="btn btn-dark" href="{% url 'createPatient' %}" ><i class="fa fa-plus"></i>{% trans " Add Patient " %}</a> 
                {% endif %}
              </div>
            </div>
            <h5 class="mb-0 text-center"><strong>{% trans "Patients" %}</strong></h5>
          </div>
          <div class="card-body">              
            <div class="row">
              <div class="col-md-12 mb-4">
                <form class="d-none d-md-flex input-group w-auto my-auto" action="{% url 'SearchPatients' %}">
                  <input autocomplete="off" type="search" class="form-control rounded"
                    placeholder='Search Patients' name="q" style="min-width: 225px" />
                  <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
              </form>
              </div>
            </div>
          </div>
      </section>
      <!-- Section: Main chart -->

      <!--Section: Sales Performance KPIs-->
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>{% trans "Patients" %}</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">{% trans "NAMES "%}</th>
                    <th scope="col">{% trans "NATIONAL ID "%}</th>
                    <th scope="col">{% trans "PATIENT ID "%}</th>
                    <th scope="col">{% trans "MEDICARE NO "%}</th>
                    <th scope="col">{% trans "VISITING DATE "%}</th>
                    <th scope="col">{% trans "STATUS "%}</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for Patient in Patient_list.all %}
                  <tr> 
                    <th scope="row">{{forloop.counter}}</th>
                    <th scope="row"><a class="" href="{% url 'patientprofile' Patient.id %}">{{Patient.first_name}} {{Patient.last_name}}</a></th>
                    <td>{{Patient.national_id}}</td>
                    <td>{{Patient.patient_id}}</td>
                    <td>{{Patient.medcare}}</td>
                    <td>{{Patient.get_visits.visit_date}}</td>
                    <td>{{Patient.status}}</td>
                    {% if Patient.status == 'UnAssigned' and user.user_roles != "Doctor" %}
                    <td><a href="{% url 'assignPatient' Patient.id %}" class="btn-sm btn-dark text-white">Assign</a></td>
                    {% elif Patient.status == 'Waiting' and user.user_roles != "Doctor"%}
                    <td><a href="{% url 'servePatient' Patient.id %}" class="btn-sm btn-dark text-white">Serve</a></td>
                    {% elif Patient.status == 'Inservice' and user.user_roles != "Doctor" %}
                    <td><a href="{% url 'unservePatient' Patient.id %}" class="btn-sm btn-dark text-white">Unassign</a></td>
                    {% endif %}
                    {% if Patient.status == 'Waiting' and user.user_roles != "Doctor" %}
                    <td><a href="{% url 'unservePatient' Patient.id  %}" class="btn-sm btn-dark text-white">Unassign</a></td>
                    {% elif Patient.status == 'Inservice' and user.user_roles != "Doctor" %}
                    <td><a href="{% url 'servePatient' Patient.id %}" class="btn-sm btn-dark text-white">Served</a></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                  <tr>
                    <th scope="row">Percentage change</th>
                    <td>
                      <span class="text-danger">
                        <i class="fas fa-caret-down me-1"></i><span>-48.8%%</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <i class="fas fa-caret-up me-1"></i><span>14.0%</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <i class="fas fa-caret-up me-1"></i><span>46.4%</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <i class="fas fa-caret-up me-1"></i><span>29.6%</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-danger">
                        <i class="fas fa-caret-down me-1"></i><span>-11.5%</span>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Absolute change</th>
                    <td>
                      <span class="text-danger">
                        <i class="fas fa-caret-down me-1"></i><span>-17,654</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <i class="fas fa-caret-up me-1"></i><span>28</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <i class="fas fa-caret-up me-1"></i><span>111</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-success">
                        <i class="fas fa-caret-up me-1"></i><span>$1,092.72</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-danger">
                        <i class="fas fa-caret-down me-1"></i><span>$-1.78</span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Sales Performance KPIs-->
    </div>
  </main>
  <!--Main layout-->
  <!-- MDB -->
{% endblock content %}